/* Add CSS styles for your web site here and use them in index.html. */
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.button {
  background-image: url('Picture/button image.png');
  background-size: contain; /* 确保图片填充整个按钮 */
  background-position: center; /* 图片居中 */
  background-repeat: no-repeat;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.color1 {
  background-color: rgba(131,105,165,255);
}


/* Header/logo Title */
.header {
  padding: 100px;
  text-align: center;
  background-image: url('Picture/genshin-impact-all-characters-1568x882.jpg');
  background-size: cover;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* 用于右对齐的部分 */
.right {
  display: flex;
  align-items: center;  /* 垂直居中图片和文字 */
  margin-left: auto;  /* 将右侧内容推到最右侧 */
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap ;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
/* Character */
.HuTao{
  background-image: url("Picture/HuTao.png");
  background-size: cover;
}

.Ayaka{
  background-image: url("Picture/Ayaka.png");
  background-size: cover;
}

.Ayato{
  background-image: url("Picture/Ayato.png");
  background-size: cover;
}

.Neuvillette{
  background-image: url("Picture/Neuvillette.png");
  background-size: cover;
}

.Staff{
  background-image: url("Picture/Staff of Homa.png");
  background-size: cover;
}

.Mistsplitter{
  background-image: url("Picture/Mistsplitter Reforged.png");
  background-size: cover;
}

.Haran{
  background-image: url("Picture/Haran Geppaku Futsu.png");
  background-size: cover;
}

.Tome{
  background-image: url("Picture/Tome of the Eternal Flow.png");
  background-size: cover;
}
/* Artifacts */
.Blizzard{
  background-image: url("Picture/Blizzard Strayer.png");
  background-size: cover;
}

.Crimson{
  background-image: url("Picture/Crimson Witch of Flames.png");
  background-size: cover;
}

.Echoes{
  background-image: url("Picture/Echoes of an Offering.png");
  background-size: cover;
}

.Marechaussee{
  background-image: url("Picture/Marechaussee Hunter.png");
  background-size: cover;
}

.beijing{
  background-image: url("https://act-webstatic.hoyoverse.com/puzzle/hk4e/pz_QaiBDjkyxb/resource/puzzle/2024/12/13/cf59d5e5e4e07b5fb087599f359308e0_2034534999259131431.png?x-oss-process=image/format,webp/quality,Q_90&quot");
  width: 300px;
  height: 200px;
}

/* Start of CAROUSEL Code */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto; 
}
/* End of CAROUSEL Code */

#HuTao{
width:100%;
}
#LingHua{
width:100%;
}
#LingRen{
width:100%;
}
#NaWei{
width:100%;
}

/*Table*/
table{
  width:80%;
  margin: 20px auto; 
}
table,th,td{
  border:1px solid black;
  text-align: center;
}

th {
  background-color: rgba(162,104,47,255);
}

